/* Set the container for summary of me */
.summary_container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 1rem;
  height: 85vh;
}

/* individual summary card of me */
.summary_card {
  box-shadow: 0px 0px 3px 1.2px rgb(var(--gray-700));
  background: rgb(var(--gray-100), 0.02);
  position: relative;
  border-radius: 1rem;
  height: auto;
  transition: 0.25s ease-out;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  padding: 0 1.5rem;
}

/* Card hover and focus effect */
.summary_card:hover,
.summary_card:focus {
  outline: none;
  box-shadow: 0px 0px 10px 1.2px rgb(var(--gray-700));
  transform: translateY(-3%);
}

.summary_card:focus {
  outline: 2px solid white;
}

/* styling for the glowing effect on the cards */
.summary_card::before {
  background: radial-gradient(
    var(--glow_size, 800px) circle at var(--mouse-x) var(--mouse-y),
    rgb(var(--gray-100), 0.2),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  opacity: var(--before_opacity, 0);
  transition: opacity 500ms;
}

.box_large {
  color: rgb(var(--gray-300));
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
  font-weight: 300;
  text-wrap: wrap;
}

.box_small {
  color: rgb(var(--gray-500));
  font-size: var(--font-size-l);
  font-weight: 300;
  text-wrap: wrap;
  text-transform: uppercase;
}

.summary_card figure {
  width: 100%;
  height: 100%;
}

.summary_card figure img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

/* For main card */
.summary_card:nth-child(1) h3 {
  color: rgb(var(--gray-300));
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-xl);
  font-weight: 300;
  text-wrap: wrap;
  font-family: var(--font-mono);
}

.summary_card:nth-child(1) p {
  color: rgb(var(--gray-500));
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: 300;
  text-wrap: wrap;
}

.summary_card:nth-child(1) {
  grid-column: span 6;
  grid-row: span 3;
  justify-content: center;
  gap: 2rem;
}

.summary_card:nth-child(2),
.summary_card:nth-child(3) {
  grid-column: span 3;
  grid-row: span 3;
}

.summary_card:nth-child(4),
  .summary_card:nth-child(5),
  .summary_card:nth-child(6),
  .summary_card:nth-child(7),
  .summary_card:nth-child(8),
  .summary_card:nth-child(9) {
    padding: 0;
  }

.summary_card:nth-child(10) {
  grid-column: span 3;
  grid-row: span 4;
}

.summary_card:nth-child(11) {
  grid-column: span 3;
  grid-row: span 3;
}

.summary_card:nth-child(12) {
  grid-column: span 5;
  grid-row: span 3;
}

.summary_card:nth-child(13) {
  grid-column: span 4;
  grid-row: span 3;
}

.summary_card:nth-child(14) {
  grid-column: span 6;
  grid-row: span 3;
}

.summary_card:nth-child(15) {
  grid-column: span 4;
  grid-row: span 3;
}

.summary_card:nth-child(16) {
  grid-column: span 2;
  grid-row: span 3;
}

.summary_card:nth-child(17) {
  grid-column: span 3;
  grid-row: span 3;
}

.summary_card:nth-child(4),
.summary_card:nth-child(5),
.summary_card:nth-child(6),
.summary_card:nth-child(7),
.summary_card:nth-child(8),
.summary_card:nth-child(9),
.summary_card:nth-child(15),
.summary_card:nth-child(13),
.summary_card:nth-child(17) {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.summary_card:nth-child(15) h4,
.summary_card:nth-child(13) h4,
.summary_card:nth-child(17) h4 {
  background: linear-gradient(
    331deg,
    rgb(var(--gray-200)),
    rgb(var(--blue-500))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size-5xl);
  font-weight: 400;
}

.summary_card span {
  color: rgb(var(--gray-200));
  font-size: var(--font-size-xl);
  font-weight: 400;
}

.summary_card:nth-child(15) p,
.summary_card:nth-child(13) p,
.summary_card:nth-child(17) p {
  color: rgb(var(--gray-400));
  font-size: var(--font-size-l);
  font-weight: 300;
  text-wrap: wrap;
}

.box_icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns vertically (you can change to flex-start or flex-end based on your needs) */
  justify-content: flex-end; /
}

.summary_card span i {
  color: rgb(var(--gray-300));
  font-size: var(--font-size-xl);
  padding: 0.5rem;
  border-radius: 50%;
  border: .8px solid rgb(var(--gray-500));
  background: rgb(var(--gray-800));
  cursor: pointer;
  transition: 0.5s ease-in;
}

/* button to change colour theme hover effect */
.summary_card:hover span i {
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-600));
}

.sending_display{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns vertically (you can change to flex-start or flex-end based on your needs) */
  justify-content: flex-start;
  gap: 1rem;
}

.sending_display h4{
  width: 70%;
  display: inline-block;
  background: transparent;
  padding: .9rem;
  border: 1.5px solid rgb(var(--gray-700));
  border-radius: .5rem;
  font-size: var(--font-size-s);
  color: rgb(var(--gray-500));
  font-weight: 300;
}

.sending_display p{
  display: inline-block;
  background: rgb(var(--gray-700));
  padding: .9rem 2rem;
  border-radius: .5rem;
  font-size: var(--font-size-m);
  color: rgb(var(--gray-200));
  font-weight: 300;
}

.summary_card i{
  font-size: var(--font-size-3xl);
  margin: 1rem;
  font-weight: 100;
  color: rgb(var(--gray-200));
}

/* media query for tablets */
@media (max-width: 1024px) {
  .summary_container {
    grid-template-columns: repeat(12, 1fr);
    height: auto;
  }

  .summary_card {
    gap: 1rem;
    padding: 2rem;
  }

  .summary_card:nth-child(7),
  .summary_card:nth-child(8),
  .summary_card:nth-child(9) {
    grid-row: 5;
  }

  .summary_card:nth-child(10) {
    grid-column: span 3;
    grid-row: 6/9;
  }

  .summary_card:nth-child(11) {
    grid-column: span 4;
    grid-row: span 2;
  }

  .summary_card:nth-child(13) {
    grid-column: span 3;
  }

  .summary_card:nth-child(12) {
    grid-column: span 5;
    grid-row: span 2;
  }

  .summary_card:nth-child(16) {
    grid-column: span 3;
    grid-row: span 3;
  }

  .summary_card:nth-child(17) {
    grid-column: span 5;
    grid-row: span 3;
  }
}

/* media query for smaller tablets */
@media (max-width: 824px) {
  .summary_container {
    grid-template-columns: repeat(9, 1fr);
  }
  .summary_card:nth-child(3) {
    grid-column: 0/4;
    grid-row: span 2;
  }

  .summary_card:nth-child(7) {
    grid-column: 4;
  }

  .summary_card:nth-child(8) {
    grid-column: 5;
  }

  .summary_card:nth-child(9) {
    grid-column: 6;
  }

  .summary_card:nth-child(10) {
    grid-column: span 3;
    grid-row: span 2;
  }
  .summary_card:nth-child(14) {
    grid-column: span 6;
  }
  .summary_card:nth-child(11) {
    grid-column: span 3;
  }

  .summary_card:nth-child(12) {
    grid-column: span 6;
  }

  .summary_card:nth-child(15) {
    grid-column: span 3;
  }
  .summary_card:nth-child(16) {
    grid-column: span 3;
  }

  .summary_card:nth-child(17) {
    grid-column: span 3;
  }
}

/* media query for large phones */
@media (max-width: 624px) {
  .summary_container {
    grid-template-columns: repeat(6, 1fr);
  }
  .summary_card:nth-child(1) {
    grid-column: span 4;
  }

  .summary_card:nth-child(1) h3 {
    line-height: var(--line-height-4xl);
  }

  .summary_card:nth-child(2) {
    grid-column: span 2;
  }

  .summary_card:nth-child(11) {
    grid-column: span 2;
  }

  .summary_card:nth-child(12) {
    grid-column: span 4;
  }
  .summary_card:nth-child(13) {
    grid-row: 6/8;
    grid-column: span 3;
  }
  .summary_card:nth-child(14) {
    grid-column: span 4;
  }
  .summary_card:nth-child(15) {
    grid-column: span 2;
  }
}

/* media query for phone devices */
@media (max-width: 550px) {
  .summary_container {
    grid-template-columns: repeat(3, 1fr);
    height: auto;
  }

  .summary_card:nth-child(1),
  .summary_card:nth-child(2),
  .summary_card:nth-child(3),
  .summary_card:nth-child(10),
  .summary_card:nth-child(11),
  .summary_card:nth-child(12),
  .summary_card:nth-child(13),
  .summary_card:nth-child(14),
  .summary_card:nth-child(15),
  .summary_card:nth-child(16),
  .summary_card:nth-child(17) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .summary_card:nth-child(11){
    height: 40vh;
  }

  .summary_card:nth-child(2),
  .summary_card:nth-child(3),
  .summary_card:nth-child(11),
  .summary_card:nth-child(16) {
    min-height: 200px;
  }

  .summary_card:nth-child(4),
  .summary_card:nth-child(5),
  .summary_card:nth-child(6),
  .summary_card:nth-child(7),
  .summary_card:nth-child(8),
  .summary_card:nth-child(9) {
    grid-column: span 1;
  }
}
